<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>RealMCraft Launcher</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/64a3d448cc26a871b02638f5/1h4fvaevk';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
  <header>
    <h1>RealMCraft Launcher</h1>
  </header>
  
  <main class="container">
  <div class="social-icons">
      <a href="https://www.instagram.com/realmcraft" target="_blank">
        <img src="https://i.pinimg.com/originals/1c/16/c2/1c16c2136289bd1595a5f4c73fb4d5d4.jpg" alt="Instagram" width=50>
      </a>
      <a href="https://discord.gg/realmcraft" target="_blank">       <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/bde3849f-8b50-46e6-92fa-06b89b73054a/daaj71i-22f7bc6c-c729-4d9c-81e5-27e34a1003d2.png/v1/fill/w_256,h_256,q_80,strp/discord_token_icon_dark_by_flexo013_daaj71i-fullview.jpg" alt="Discord" width=50>
      </a>
    <a href="blog.html" class="button">Blog sayfamız için tıklayın</a>
    </div>
    <div class="description">
      <p>Minecraft dünyasına katılın ve RealMCraft ile eşsiz bir maceraya başlayın.</p>
    </div>
    <div class="versions">
      <thead>
        <table border=1>
          <tr><th colspan=3><strong><em>Sürümler</em></strong></th></tr>
          <tr>
            <td>Sürüm</td>
            <td>Açıklama</td>
            <td>İndir</td>
          </tr>
          <tr>
            <td>1.0</td>
            <td>İlk</td>
            <td><a href=https://store3.gofile.io/download/7f946065-059b-4b28-b5e0-490f299d41e2/RealMC_Launcher.exe>tıkla </a></td>
          </tr>
        </table>
<p></p><em>RealMC Development tarafından yapılmıştır</em></p>
        <a href=mailto:rmc798795@gmail.com><img src="https://cdn.discordapp.com/attachments/1122100151276806145/1124315498662866998/cacf9b2098458c3615353b302213c7a7.jpg" width=50></a>
  <ul>
    <li>Hızlı sistem</li>
    <li>Güvenilir program</li>
    <li>7/24 Aktif destek</li>
  </ul>
   <b>Launcherımızdan kareler</b>
        <img src="https://cdn.discordapp.com/attachments/1122902630306422855/1123980018121457764/image.png"  />
        <img src="https://cdn.discordapp.com/attachments/1122902630306422855/1123980017827852338/image.png"  />
        
        
        <tbody>
          <!-- Sürümler dinamik olarak buraya gelecek -->
        </tbody>
      </table>
    </div>
  </main>
  <script src="app.js"></script>
</body>
</html>
